<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>flyer01.jpg</string>
	<string>flyer02.jpg</string>
	<string>flyer03.jpg</string>
	<string>flyer04.jpg</string>
	<string>flyer05.jpg</string>
</array>
</plist>
